@import "compass/css3";
* {
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
  color: white;
}

body {
text-align: center;
}

#content {
  margin: 0px 100px
}

h1 {
  text-shadow: 2px 2px red;
  font-size: 45px;
  margin-bottom: 5px;
}
.movieThumbnail {
  width: 350px;
  height:230px;
  margin: 10px;
  outline: grey 1px solid;
}

.title {
  color: white;
  text-decoration: none;
  padding-left: 8px;
  text-shadow: 1px 1px #a9a9a9;
}

.movieBox {
    border: 1px lightgray solid;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}


ul li {
  display: inline-block;;
  padding-top: 10px;
}

button {
    background-color: #4CAF50 ;
    border-color: #3C8C40;
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    /*-webkit-transition-duration: 0.4s; /* Safari
    transition-duration: 0.4s;
    cursor: pointer;*/
}

#button1 {
    background-color: #008CBA;
    color: white;
    border: 2px solid #007ea7;
    font-size: 12px;

}

#button1:hover {
    background-color: black;
    color: white;
}


#button2 {
    background-color: #f44336;
    color: white;
    border: 2px solid #db3c30;
    font-size: 12px;
}

#button2:hover {
    background-color: black;
    color: white;
}

input {
  height: 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

select{
  height: 25px;
  border-radius: 5px;
  margin-right:10px;
  background-color: white;
  color: black;
}

label {
  margin-left: 20px;
  margin-right: 5px;
}

form {
text-align: center;
}
.reviewList {
  list-style: none;
  padding: 0;
}

.review {
  display: block;
}


#back {
  display: block;
}

.span {
  margin-left: 20px;
}

#comment {
  width: 270px;
  height: 40px;
}

#releaseYear {
  width: 60px;
}

#image {
  width: 200px;
}
