* {
  font-family: Helvetica, sans-serif;


}

/*.error {
  color: red;
}*/

#content {
  margin: 0px 80px;
}

.movieThumbnail {
  width: 250px;
  height:200px;
  margin: 10px;
  outline: grey 1px solid;
}

ul {
    border: 1px lightgrey solid;
}

ul li {
  display: inline-block;;
  padding: 10px;
}



/*#content {
  width: 100px;
  height:100px
}*/
/*change content box size*/
